In [ ]:
import numpy as np
import pandas as pd

* Please implement the following tasks:

1. A csv file containing the dataset will be shared, download it and upload it.

2. Read the csv file using Pandas.

In [ ]:
my_path = "/content/classwork-data.csv" # write the path of the data file here
data = pd.read_csv(my_path)

In [ ]:
data.head()

   Unnamed: 0  col1       col2         col3           col4      target
0           0   1.0  73.847017  5453.381922  402715.987625  241.893563
1           1   1.0  68.781904  4730.950324  325403.771243  162.310473
2           2   1.0  74.110105  5492.307721  407035.504061  212.740856
3           3   1.0  71.730978  5145.333263  369079.789145  220.042470
4           4   1.0  69.881796  4883.465393  341265.331673  206.349801

3. Create a variable X for the input columns (col1, col2, col3, col4).

In [ ]:
X = data.iloc[:,1:-1].values

In [ ]:
X.shape

(10000, 4)

4. Create a variable Y for the output column (target).

In [ ]:
Y  = data.iloc[:,-1].values

In [ ]:
Y

array([241.89356318, 162.31047252, 212.74085556, ..., 128.47531878,
       163.85246135, 113.64910268])

In [ ]:
Y.shape

(10000,)

In [ ]:
#################################################################################################################

5. Split the dataset into two sets, training and test sets.
* check online [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) how to use the **train_test_split** function in the sklearn library.

In [ ]:
# You need to find:   X_train, X_test, Y_train, Y_test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                test_size=0.33, random_state=42)

In [ ]:
X_train.shape

(6700, 4)

In [ ]:
X_test.shape

(3300, 4)

In [ ]:
#################################################################################################################

6. Use Mean squared error to report the performance of the linear regression model.

$$
MSE = \frac{\sum{(target - prediction)^2}}{n}
$$

In [ ]:
# define the MSE fun
def MSE(y_true, y_pred):
  # calculate the MSE and return it
  n = len(y_true)
  mse = 1/n*np.sum((y_true-y_pred)**2)
  return mse

In [ ]:
#################################################################################################################

7. Implement function MLE, that computes the maximum likelihood estimator for the given data.

Calculate the model parameter using the closed form solution as indicated in the following equation:

$$
\boldsymbol w = (\boldsymbol X^T\boldsymbol X)^{-1}\boldsymbol X^T\boldsymbol Y
$$

X is the inputs, and Y is the targets

In [ ]:
def NormalEquation(inputs, targets):
  # calculate the parameter w and return it
  w = np.linalg.inv((inputs.T@inputs))@inputs.T@targets
  return w

In [ ]:
#################################################################################################################

Lets evaluate the model by taking one example from the test data, and then calculate the MSE between the model prediction and the target.

In [ ]:
w = NormalEquation(X_train, Y_train)# All the parameter estimation should be done using 
                         # only the training data.

In [ ]:
w.shape

(4,)

In [ ]:
Y_pred = X_test @ w

In [ ]:
print(MSE(Y_test, Y_pred))

100.98823757290819

In [ ]:
#################################################################################################################